#troller_image_what {
    z-index: 9999999;
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: unset;
}

#troller_image_what.active {
    display: block;
}

.hide {
    position: absolute;
    display: none;
}
