{% block title %}
<title>{% if head.title != empty %}{{head.title}}{% else %}Правила беседы{% endif %}</title>
{% endblock %}

{% block meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=800px">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="width">
<meta content='yes' name='apple-mobile-web-app-capable'/>
{% for meta in head.metas %}
<meta {% for name, value in meta.attributes %}{{name}}="{{value}}" {% endfor %}>
{% endfor %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/main.css" />
{% endblock %}
